@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:wght@400;700&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to right top, #7af07a, #e1f773);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', 'Open Sans', sans-serif;
  font-size: 12px;

  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

section,
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-container {
  width: 336px;
  height: 436px;
  background: #f9f9fc;
  position: relative;
}

.img-container {
  position: absolute;
  width: 288px;
  height: 380px;
  left: 24px;
  top: 24px;
  background: #ffffff;
  box-shadow: 0px 8px 17px rgba(47, 48, 97, 0.12);
  border-radius: 13px;
}

.img-container:hover {
  box-shadow: 0px 8px 17px rgba(47, 48, 97, 0.3);
}

#product-image {
  margin: 10px auto;
  max-width: 280px;
  max-height: 176px;
  background: transparent;
}

.product-title {
  position: absolute;
  width: 280px;
  height: 50px;
  left: 4px;
  top: 225px;

  text-align: center;
}
.product-title h1 {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  /* or 19px */

  color: #535760;
}

.product-title h1:hover {
  color: #4b5492;
}

.img-frame {
  position: absolute;
  width: 280px;
  height: 230px;
  left: 4px;
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ellipse-container {
  position: absolute;
  top: 270px;
  left: 71px;
}

.ellipse:hover {
  stroke: rgba(0, 0, 0, 0.45);
}

.ellipse-1 {
  background: #fad9bd;
}

.ellipse-2 {
  background: #912c34;
}

.ellipse-3 {
  background: #eceae3;
}

.ellipse-4 {
  background: #555251;
}

.price {
  position: absolute;
  width: 280px;
  height: 19px;
  left: 4px;
  top: 326px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #17a398;

  text-align: center;
}

.price span {
  font-size: 20px;
}

.recommended-product {
  position: absolute;
  width: 126px;
  height: 42px;
  left: 15px;
  top: 11px;
  z-index: 10;
}
.recommended {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;
  position: absolute;
  width: 112px;
  max-height: 34px;
  left: 0px;
  top: 0px;
  background: #4b5492;
  box-shadow: 0px 0px 2px rgba(75, 84, 146, 0.14),
    0px 2px 2px rgba(75, 84, 146, 0.12), 0px 1px 3px rgba(75, 84, 146, 0.2);
  border-radius: 3px 3px 3px 0px;
}

.recommended-text {
  width: 96px;
  height: 18px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 150%;
  text-transform: uppercase;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.vector-triangle {
  position: absolute;
  width: 8px;
  height: 8px;
  left: 0px;
  bottom: 0px;
  top: 34px;
}

.off-circle {
  position: absolute;
  width: 56px;
  height: 56px;
  left: 264px;
  top: 8px;
  z-index: 10;
}

.off-circle-text {
  position: absolute;
  width: 43px;
  height: 27px;
  left: 271px;
  top: 23px;
  /* Header/5 */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  z-index: 15;
}

h1 {
  margin-bottom: 80px;
  font-size: 2rem;
  text-align: center;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0;
}

h3 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
}

/* Media Query: iPhone (Vertical) */
@media screen and (max-width: 376px) {
  .item-container {
    width: 336px;
    height: 436px;
  }

  .img-container {
    position: absolute;
    width: 300px;
    height: 152px;
    left: 24px;
    top: 24px;
  }

  .img-frame {
    position: absolute;
    width: 300;
    height: 130px;
    left: 0px;
    top: 15px;
  }

  #product-image {
    position: absolute;
    max-width: 118px;
    height: 104px;
    background: transparent;
    left: 0px;
    top: 0px;
  }

  .product-title {
    position: absolute;
    width: 200px;
    height: 27px;
    left: 120px;
    top: 10px;
  }
  .product-title h1 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: #535760;
  }

  .price {
    position: absolute;
    width: 95px;
    height: 40px;
    left: 120px;
    top: 84px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    color: #17a398;

    text-align: left;
  }

  .ellipse-container {
    display: none;
  }

  .off-circle {
    left: 272px;
  }

  .off-circle-text {
    left: 278px;
    top: 23px;
  }
}
